<h2>Tap Master</h2>
<h3>I am This Mad: {{madness}}</h3>
<page>
  <hbox>
    <box>
      <div class="spinner"></div>
    </box>
    <box>
      <div {{action "beMad"}}>
        Don't Touch Me
      </div>
    </box>
    <box>
      <div class="spinner"></div>
    </box>
  </hbox>
</page>