<fill>
  <box fit>
    <centered>
      {{#link-to 'drumpf' tagName="div" classNames="button"}}
        Drumpf!
      {{/link-to}}
    </centered>
  </box>
  <box fit class="spinner-group">
    <div class="spinner spinner-left"></div>
    <div class="spinner spinner-left"></div>
    <div class="spinner spinner-right"></div>
    <div class="spinner spinner-right"></div>
  </box>

  <box>
    <box align="center">
      <h3>I'm {{userAnger}}</h3>
    </box>
    <box align="center">
      I would go {{rounded}} miles to get away from this.
    </box>
    <centered>
      <div class="button" {{action "beMad"}}>
        I can't even
      </div>
    </centered>
  </box>
</fill>