<h2 id="title">Flee Drumpf's America</h2>

{{outlet}}


<!doctype html>
<html>
<head>
    <title>Codepen</title>
    <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
</head>
<body>
            <div class="container">
                <div class="navigation" style="display: none;">
                    <ul class="nav">
                        <li><a href="#">Add Friend</a></li>
                        <li><a href="#">Follow</a></li>
                        <li><a href="#">Message</a></li>
                    </ul>
                </div>
                <div class="cover">
                    <div class="head">
                        <div class="menu left"></div>
                        <div class="actions right">
                            <a class="btn success" href="#">Following</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="avatar">
                        <img src="http://dl.dropboxusercontent.com/s/yyd1fcw7dvtfa1q/avatar-colored.jpg" width="100" />
                        <div class="light">
                        </div>
                    </div>
                </div>

                <div class="main">
                    <h1>Anis Mashku</h1>
                    <h6><span>@</span>anismashku</h6>
                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. At vero eos et accusam et justo duo dolores.</p>
                </div>
                <div class="social">
                    <ul>
                        <li><a class="linkedin" href="#"></a></li>
                        <li><a class="twitter" href="#"></a></li>
                        <li><a class="facebook" href="#"></a></li>
                        <li><a class="dribbble" href="#"></a></li>
                    </ul>
                </div>
            </div>
</body>
</html>
